<main class="auth-form">
  <h1 class="auth-form__title">Login</h1>
  <%= form_with(url: login_path) do |form| %>
    <div class="auth-form__field">
      <%= form.label :email %>
      <%= form.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="auth-form__field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>

    <div class="auth-form__actions">
      <%= form.submit "Login", class: "primary" %>
    </div>
  <% end %>
  <p>Don't have an account? <%= link_to "Sign up", signup_path %></p>
</main>
