<main class="auth-form">
  <h1 class="auth-form__title"><%= t(".title") %></h1>
  <%= form_with(url: login_path) do |form| %>
    <div class="auth-form__field">
      <%= form.label :email %>
      <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true %>
    </div>

    <div class="auth-form__field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>

    <div class="auth-form__actions">
      <%= form.submit t(".submit"), class: "primary" %>
    </div>
  <% end %>
  <p><%= t(".no_account") %> <%= link_to t(".sign_up"), signup_path %></p>
  <p><%= t(".forgot_password") %> <%= link_to t(".reset_password"), new_password_reset_path %></p>
</main>
