<main class="auth-form">
  <h1 class="auth-form__title">Password Reset</h1>
  <%= form_with model: @user, url: password_reset_path, method: :patch, data: { } do |form| %>
    <%= render_errors_for @user if @user.errors.any? %>

    <div class="auth-form__field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autofocus: true %>
    </div>

    <div class="auth-form__field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true, autofocus: true %>
    </div>

    <div class="auth-form__actions">
      <%= form.submit "Reset Password", class: "primary" %>
    </div>
  <% end %>
  <p><%= link_to "Back to login", login_path %></p>
</main>
