<%= turbo_frame_tag comment do %>
  <div class="comment-card">
    <div class="comment-card__content">
      <div class="comment-card__header">
        <div class="comment-card__header__user">
          <%=  comment.user.user_name %>
        </div>
        <div class="comment-card__header__date">
          <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
      </div>
      <div class="comment-card__content">
        <%= simple_format comment.content %>
      </div>
    </div>

    <%# `if comment.editable_by?(current_user)` で囲みたいが、`broadcasts_to` 経由でビューを生成するときには current_user が取得できないのでCSSで隠すことにする. %>
    <div class="comment-card__actions horizontal-actions" data-editable-user="<%= comment.user.id %>">
      <%= link_to edit_task_comment_path(comment.task, comment), class: "comment-card__edit" do %>
        <span class="material-symbols-outlined">edit</span>
      <% end %>
      <%= button_to task_comment_path(comment.task, comment), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "comment-card__delete" do %>
        <span class="material-symbols-outlined">delete</span>
      <% end %>
    </div>
  </div>
<% end %>
