<div id="form2" class="tab-panel <%= @show_suggestion ? "" : "hidden" %>" role="tabpanel" data-tabs-target="tabPanel">
  <div class="task-suggestion-form">
    <%= form_with model: @suggestion_request,
                  url: tasks_suggestions_path,
                  method: :post, # Always POST. Not PATCH.
                  data: {
                    controller: "submit",
                    action: "turbo:submit-start->submit#showWaitingScreen turbo:submit-end->submit#hideWaitingScreen"
                  } do |form| %>
      <%= render_errors_for(@suggestion_request) %>

      <div class="task-suggestion-form__item task-suggestion-form__goal">
        <%= form.label :goal, class: "visually-hidden" %>
        <%= form.text_field :goal, autofocus: true, class: "task-form__name--input full-width-input", placeholder: "Your goal" %>
      </div>

      <div class="task-suggestion-form__item task-suggestion-form__context">
        <%= form.label :context, class: "visually-hidden" %>
        <%= form.text_area :context, class: "task-form__description--input full-width-input", placeholder: "Context" %>
      </div>

      <div class="task-suggestion-form__item task-suggestion-form__start-date">
        <%= form.label :start_date %>
        <%= form.date_field :start_date, min: Time.zone.today %>
      </div>

      <div class="task-suggestion-form__item task-suggestion-form__due-date">
        <%= form.label :due_date %>
        <%= form.date_field :due_date, min: Time.zone.today %>
      </div>

      <div class="form-actions task-suggestion-form__actions">
        <%= form.hidden_field :project_id %>
        <%= link_to "Cancel", project_path(@suggestion_request.project_id), class: "btn btn-light task-suggestion-form__cancel" %>
        <%= form.submit "Suggest",
                        class: "task-suggestion-form__submit primary",
                        data: {
                          confirm: "It may take a little time. Please be patient.",
                          "submit-target": "submit"
                        } %>
      </div>
    <% end %>

    <%= turbo_frame_tag "task_suggestion" %>
  </div>
</div>
