<%= form_with(model: task, class: "task-form") do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# TEMPORARY USER ID %>
  <%= form.hidden_field :user_id, value: 1 %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, class: "task-form__title" %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div class="task-form__actions">
    <%= link_to "Cancel", tasks_path, class: "btn btn-light" %>
    <%= form.submit %>
  </div>
<% end %>
