<%= form_with(model: task, class: "task-form") do |form| %>
  <% if task.errors.any? %>
    <div class="task-form__errors">
      <% task.errors.each do |error| %>
        <div class="task-form__error"><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "visually-hidden" %>
    <%= form.text_field :name, autofocus: true, class: "task-form__name", placeholder: "Task name" %>
  </div>

  <div>
    <%= form.label :due_date, class: "visually-hidden" %>
    <%= form.date_field :due_date, value: task.display_due_date, min: Time.zone.today %>
  </div>

  <div class="task-form__actions">
    <%= link_to "Cancel", tasks_path, class: "btn btn-light task-form__cancel" %>
    <%= form.submit class: "task-form__submit" %>
  </div>
<% end %>
