<%= turbo_frame_tag "task_suggestion" do %>
  <div class="task-suggestions">
    <h2 class="task-suggestions-title">Suggestions</h2>
    <%= form_with url: tasks_batches_path, data: { turbo_frame: "_top" } do |batch_form| %>
      <%= hidden_field_tag :project_id, @suggestion_request.project_id %>
      <% @suggestion_request.response.suggested_tasks.each do |task| %>
        <%= fields_for :tasks, task, index: task.id do |task_form| %>
          <div class="task-suggestion">
            <%= check_box_tag "tasks[#{task.id}][checked]", "1", true, class: "task-suggestion__checkbox" %>
            <div class="task-suggestion__main">
              <div class="task-suggestion__name">
                <%= task_form.label :name, class: "visually-hidden" %>
                <%= task_form.text_field :name, class: "full-width-input", placeholder: "Task name" %>
              </div>
              <div class="task-suggestion__description">
                <%= task_form.label :description, class: "visually-hidden" %>
                <%= task_form.text_area :description, class: "full-width-input", rows: 3, placeholder: "Description" %>
              </div>
              <div class="task-suggestion__due-date">
                <%= task_form.label :due_date %>
                <%= task_form.date_field :due_date %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="form-actions">
        <%= batch_form.submit "Create tasks", class: "primary" %>
      </div>
    <% end %>
  </div>
<% end %>
