<%= turbo_frame_tag task do %>
  <div class="task-card <%= task.completed ? "task-card--complete" : "" %> <%= task.overdue? ? "overdue" : "" %>">
    <div class="task-card__content">
      <%= button_to "",
                    task_complete_path(task),
                    method: task.completed ? :delete : :post,
                    class: "task-card__complete-check",
                    form: { class: "task-card__complete-check-outer" } %>
      <div>
        <div class="task-card__name">
          <%= link_to task.name, task, data: { turbo_frame: "modal" } %>
        </div>
        <% if task.description.present? %>
          <div class="task-card__description">
            <%= task.description.to_plain_text %>
          </div>
        <% end %>
        <% if task.has_due_date? %>
          <div class="task-card__due-date">
            <span class="material-symbols-outlined">event</span>
            <%= l(task.due_date, format: due_date_format(task)) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="task-card__actions horizontal-actions">
      <div class="menu-container assignee-list <%= task.assignee.present? ? "assigned" : "" %> <%= task.assignee == current_user ? "assigned-to-me" : "" %>"
           data-controller="menu"
           data-action="keyup@window->menu#closeWithKeyboard click@window->menu#closeBackground">
        <%= button_tag type: "button", class: "menu-button", data: { action: "menu#toggleMenu" } do %>
          <% if task.assignee.present? %>
            <span class="assignee-initial-sign"><%= task.assignee.user_name[0] %></span>
          <% else %>
            <span class="material-symbols-outlined">person</span>
          <% end %>
        <% end %>

        <nav class="menu-navigation hidden" data-menu-target="menu">
          <ul class="menu-list">
            <li class="assignee-list__member">
              <div class="assignee-list__unassign">
                <%= button_to task_assign_path(task), method: :delete, data: { turbo_frame: "_top" } do %>
                  <span class="material-symbols-outlined">person_off</span>
                  Unassign
                <% end %>
              </div>
            </li>

            <%= turbo_frame_tag "assignees" do %>
              <%= render partial: "tasks/assignee_row", collection: @members, as: :member, locals: { task: } %>
            <% end %>
          </ul>
        </nav>
      </div>
      <%= link_to edit_task_path(task), class: "task-card__edit" do %>
        <span class="material-symbols-outlined">edit</span>
      <% end %>
      <%= button_to task_path(task), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "task-card__delete" do %>
        <span class="material-symbols-outlined">delete</span>
      <% end %>
    </div>
  </div>
<% end %>
