<%= turbo_frame_tag task do %>
  <div class="task-card <%= task.completed ? "task-card--complete" : "" %> <%= task.overdue? ? "overdue" : "" %>">
    <div class="task-card__content">
      <%= button_to "",
                    task_complete_path(task),
                    method: :post,
                    class: "task-card__complete-check",
                    disabled: task.completed,
                    form: { class: "task-card__complete-check-outer" } %>
      <div>
        <div class="task-card__name">
          <%= link_to task.name, task, data: { turbo_frame: "modal" } %>
        </div>
        <% if task.description.present? %>
          <div class="task-card__description">
            <%= task.description.to_plain_text %>
          </div>
        <% end %>
        <% if task.has_due_date? %>
          <div class="task-card__due-date">
            <span class="material-symbols-outlined">event</span>
            <%= l(task.due_date, format: due_date_format(task)) %>
          </div>
        <% end %>
      </div>
    </div>
    <% unless task.completed %>
      <div class="task-card__actions horizontal-actions">
        <%= turbo_frame_tag "assignees-#{task.id}" do %>
          <%= render partial: "tasks/assignees", locals: { task: } unless task.project.inbox? %>
        <% end %>
        <%= link_to edit_task_path(task), class: "task-card__edit" do %>
          <span class="material-symbols-outlined">edit</span>
        <% end %>
        <%= button_to task_path(task), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "task-card__delete" do %>
          <span class="material-symbols-outlined">delete</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
