<% has_subtasks = task.subtasks.loaded? ? task.subtasks.any? : task.subtasks.exists? %>
<%= turbo_frame_tag task do %>
<div class="<%= has_subtasks ? 'task-card-wrapper task-card-wrapper--has-subtasks' : '' %>" <% if has_subtasks %>data-controller="expand-collapse" data-expand-collapse-key-value="task-<%= task.id %>"<% end %>>
  <div class="task-card <%= task.completed ? "task-card--complete" : "" %> <%= task.overdue? ? "overdue" : "" %>">
    <div class="task-card__content">
      <% if task.completed %>
        <%= button_tag "", type: :button, class: "task-card__complete-check", disabled: true %>
      <% else %>
        <%= button_to "",
                      task_complete_path(task),
                      method: :post,
                      class: "task-card__complete-check",
                      data: { controller: "task", action: "click->task#playComplete" } %>
      <% end %>
      <div>
        <div class="task-card__name">
          <%= link_to task.name, task, data: { turbo_frame: "modal" } %>
          <% if (series = task.configured_task_series) %>
            <span class="task-card__recurrence" title="<%= series.human_label %>">
              <span class="material-symbols-outlined">repeat</span>
            </span>
          <% end %>
        </div>
        <% if task.description.present? %>
          <div class="task-card__description">
            <%= task.description.to_plain_text.gsub(/\R/, " ") %>
          </div>
        <% end %>
        <% if task.has_due_date? %>
          <div class="task-card__due-date">
            <span class="material-symbols-outlined">event</span>
            <%= l(task.due_date, format: due_date_format(task)) %>
          </div>
        <% end %>
      </div>
    </div>
    <% unless task.completed %>
      <div class="task-card__actions horizontal-actions">
        <%= turbo_frame_tag "assignees-#{task.id}" do %>
          <%= render partial: "tasks/assignees", locals: { task: } unless task.project.inbox? %>
        <% end %>
        <%= link_to edit_task_path(task), class: "task-card__edit" do %>
          <span class="material-symbols-outlined">edit</span>
        <% end %>
        <%= button_to task_path(task), method: :delete, data: { turbo_confirm: t("tasks.task.confirm_delete") }, class: "task-card__delete" do %>
          <span class="material-symbols-outlined">delete</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if has_subtasks %>
    <div class="task-card__subtask-badge" data-action="click->expand-collapse#toggle">
      <span class="material-symbols-outlined" data-expand-collapse-target="icon">expand_more</span>
      <span><%= task.subtasks.count(&:completed?) %>/<%= task.subtasks.size %></span>
    </div>
    <div id="subtasks-<%= task.id %>" class="task-card__subtasks" data-expand-collapse-target="content" hidden>
      <%= render partial: "tasks/subtask", collection: task.subtasks, as: :subtask %>
    </div>
  <% end %>
</div>
<% end %>
