<%= turbo_frame_tag "modal" do %>
  <%= turbo_stream_from @task %>
  <div class="modal-base">
    <%= tag.div data: { controller: "turbo-modal",
                        action: "keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                class: "show-task" do %>
      <div class="show-task__header">
        <%= link_to "#", class: "show-task__close", data: { action: "turbo-modal#hideModal" } do %>
          <span class="material-symbols-outlined">close</span>
        <% end %>
      </div>
      <div class="show-task__content">
        <h3 class="show-task__name">
          <%= @task.name %>
        </h3>
        <div class="show-task__description">
          <%= @task.description %>
        </div>
        <% if @task.has_due_date? %>
          <div class="show-task__due-date">
            <%= @task.due_date %>
          </div>
        <% end %>

        <div class="task-comments">
          <div class="task-comments__history">
            <% if @comments.present? %>
              <h4 class="task-comments__title">
                Comments
              </h4>
            <% end %>
            <div class="task-comments__content">
              <%= turbo_frame_tag "comments" do %>
                <%= render partial: "tasks/comments/comment", collection: @comments %>
              <% end %>
            </div>
          </div>

          <div class="task-comments__add-comment">
            <%= turbo_frame_tag Comment.new do %>
              <%= render partial: "tasks/comments/add_comment", locals: { task: @task } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="show-task__actions">
      </div>
    <% end %>
  </div>
  <style>.comment-card__actions[data-editable-user="<%= current_user.id %>"] { display: flex; }</style>
<% end %>
