<%= turbo_frame_tag "modal" do %>
  <%= render "shared/modal", options: { base_class: "show-task #{@task.overdue? ? "overdue" : ""}", scrollable: true } do %>
    <%= turbo_stream_from @task %>
    <style>.comment-card__actions[data-editable-user="<%= current_user.id %>"] { display: flex; }</style>
    <h2 class="show-task__name">
      <%= @task.name %>
    </h2>
    <% if @task.description.present? %>
      <div class="show-task__description">
        <%= @task.description %>
      </div>
    <% end %>
    <% if @task.has_due_date? %>
      <div class="show-task__due-date">
        <span class="material-symbols-outlined">event</span>
        <%= l(@task.due_date, format: due_date_format(@task)) %>
      </div>
    <% end %>
    <% if @task.recurring? %>
      <div class="show-task__recurrence">
        <span class="material-symbols-outlined">repeat</span>
        <%= @task.task_series.human_label %>
      </div>
    <% end %>

    <% if @task.subtask? %>
      <div class="show-task__parent">
        <span class="material-symbols-outlined">subdirectory_arrow_right</span>
        <%= link_to @task.parent.name, @task.parent, data: { turbo_frame: "modal" } %>
      </div>
    <% end %>

    <% unless @task.subtask? %>
      <div class="show-task__subtasks">
        <div id="show-subtasks-header-<%= @task.id %>">
          <%= render "tasks/subtasks_header", subtasks: @subtasks %>
        </div>
        <div id="show-subtasks-<%= @task.id %>" class="show-task__subtasks-list">
          <%= render partial: "tasks/subtask", collection: @subtasks, as: :subtask %>
        </div>
        <% unless @task.completed? %>
          <%= turbo_frame_tag "new_subtask" do %>
            <%= button_to new_task_subtask_path(@task), class: "add-task primary", method: :get, data: { turbo_frame: "new_subtask" } do %>
              <%= t("tasks.show.add_subtask") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="task-comments">
      <div class="task-comments__history">
        <% if @comments.present? %>
          <h4 class="task-comments__title">
            <%= t("tasks.show.comments") %>
          </h4>
        <% end %>
        <div class="task-comments__content">
          <%= turbo_frame_tag "comments" do %>
            <%= render partial: "tasks/comments/comment", collection: @comments %>
          <% end %>
        </div>
      </div>

      <div class="task-comments__add-comment">
        <%= turbo_frame_tag Comment.new do %>
          <%= render partial: "tasks/comments/add_comment", locals: { task: @task } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
