<%= turbo_frame_tag "modal" do %>
  <div class="modal-base">
    <%= tag.div data: { controller: "turbo-modal",
                        action: "keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                class: "show-task" do %>
      <div class="show-task__header">
        <%= link_to "#", class: "show-task__close", data: { action: "turbo-modal#hideModal" } do %>
          <span class="material-symbols-outlined">close</span>
        <% end %>
      </div>
      <div class="show-task__content">
        <h3 class="show-task__name">
          <%= @task.name %>
        </h3>
        <div class="show-task__description">
          <%= @task.description %>
        </div>
        <% if @task.has_due_date? %>
          <div class="show-task__due-date">
            <%= @task.due_date %>
          </div>
        <% end %>
      </div>
      <div class="show-task__actions">
      </div>
    <% end %>
  </div>
<% end %>
