<main class="auth-form">
  <h1 class="auth-form__title"><%= t(".title") %></h1>
  <%= form_with(url: totp_challenge_path) do |form| %>
    <div class="auth-form__field">
      <%= form.label :code do %>
        <h4><%= t(".instruction") %></h4>
      <% end %>
      <% if @err_message.present? %>
        <ul class="form__error">
          <li class="field-error"><%= @err_message %></li>
        </ul>
      <% end %>
      <%= form.text_field :code, required: true, autofocus: true, autocomplete: :off %>
    </div>

    <div class="auth-form__actions">
      <%= form.hidden_field :token, value: @token %>
      <%= form.submit t(".submit"), class: "primary" %>
    </div>
  <% end %>
  <p><%= link_to t(".back_to_login"), login_path %></p>
</main>
