<%= render "shared/modal", options: { base_class: "show-user", header_title: "User info", body_controller: "user", scrollable: true } do %>
  <%= form_with model: current_user, url: user_path, data: { turbo_frame: "modal", "user-target": "form" }, multipart: true do |form| %>
    <div class="notification bottom" data-user-target="notify">
      <div class="notification__contents notification__contents--warning">
        Click "Save User" button to persist changes.
      </div>
    </div>

    <% if current_user.errors.any? %>
      <%= render_errors_for current_user %>
    <% end %>

    <div class="show-user__item">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "User name", class: "full-width-input", data: { action: "user#fieldModified", "user-target": "field", initial: current_user.name || "" } %>
    </div>

    <div class="show-user__item">
      <%= form.label :avatar %>
      <div class="show-user__item--avatar">
        <%= image_tag current_user.avatar.attached? ? current_user.avatar.variant(:thumb) : "user.png",
                      data: { "user-target": "avatarPreview" }, width: "100px", height: "100px" %>
        <label class="avatar-upload">
          Select new avatar
          <%= form.file_field :avatar, data: { "user-target": "avatarInput", action: "user#updateAvatar" } %>
        </label>
      </div>
    </div>

    <div class="show-user__item show-user__item--email">
      <%= form.label :email %>
      <p><%= current_user.email %></p>
      <p><%= link_to "Change email", edit_email_path, class: "btn" %></p>
    </div>

    <div class="show-user__item show-user__item--password">
      <%= form.label :password %>
      <p><%= link_to "Change password", edit_password_path, class: "btn" %></p>
    </div>

    <div class="show-user__item">
      <%= form.label :totp %>
      <p><%= link_to "2FA Setting", totp_setting_path, class: "btn" %></p>
    </div>

    <div class="show-user__item">
      <%= form.label :time_zone %>
      <%= form.time_zone_select :time_zone, nil, { include_blank: false }, data: { action: "user#fieldModified", "user-target": "field", initial: current_user.time_zone } %>
    </div>

    <div class="show-user__item">
      <%= form.label :locale %>
      <%= form.select :locale, I18n.available_locales, { include_blank: false }, data: { action: "user#fieldModified", "user-target": "reloadField", initial: current_user.locale } %>
    </div>

    <div class="form-actions">
      <%= button_tag "Cancel", type: "button", class: "btn", data: { action: "turbo-modal#hideModal" } %>
      <%= form.submit class: "primary", disabled: true, data: { "user-target": "submit" } %>
    </div>
  <% end %>
<% end %>
