<main class="auth-form">
  <h1 class="auth-form__title"><%= t(".title") %></h1>

  <%= render_errors_for @user %>

  <%= form_with model: @user, url: signup_path do |form| %>
    <div class="auth-form__field">
      <%= form.label :email %>
      <%= form.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="auth-form__field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>

    <div class="auth-form__actions">
      <%= form.submit t(".submit"), class: "primary" %>
    </div>
  <% end %>
  <p><%= t(".already_signed_up") %> <%= link_to t(".login"), login_path %></p>
</main>
