<header class="project-header">
  <div class="menu-container project-selector" data-controller="menu" data-action="keyup@window->menu#closeWithKeyboard click@window->menu#closeBackground">
    <%= button_tag type: "button", class: "menu-button", data: { action: "menu#toggleMenu" } do %>
      <h2 class="project-name"><%= @project.display_name %></h2>
      <span class="material-symbols-outlined">expand_more</span>
    <% end %>

    <nav class="menu-navigation hidden" data-menu-target="menu">
      <ul class="menu-list project-selector__list">
        <% @projects&.each do |project| %>
          <li class="project-selector__list-item <%= @project == project ? "current-project" : "" %>">
            <%= link_to "# #{project.display_name}", project_path(project), class: "project-selector__list-item__project-name" %>

            <% unless project.inbox? %>
              <div class="project-selector__list-item__actions horizontal-actions">
                <%= link_to edit_project_path(project), class: "project-selector__list-item__edit", data: { turbo_frame: "modal" } do %>
                  <span class="material-symbols-outlined">edit</span>
                <% end %>

                <%# TODO: Turboでできたらしたい %>
                <%= button_to project_archive_path(project), data: { turbo_confirm: "Archive this project?" }, class: "project-selector__list-item__archive" do %>
                  <span class="material-symbols-outlined">archive</span>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="project-selector__action">
        <%= link_to new_project_path, class: "project-selector__add-button", data: { turbo_frame: "modal" } do %>
          <span class="material-symbols-outlined">add</span>
          Add project
        <% end %>
      </div>
    </nav>
  </div>

  <div class="project-header__right">
    <% unless @project.inbox? %>
      <div class="menu-container menu-container--header project-members" data-controller="project-members" data-action="keyup@window->project-members#closeWithKeyboard click@window->project-members#closeBackground">
        <%= button_tag type: "button", class: "menu-button", data: { action: "project-members#toggleMenu project-members#clear" } do %>
          <span class="material-symbols-outlined">group</span>
        <% end %>

        <nav class="menu-navigation hidden" data-project-members-target="menu">
          <h4 class="menu-navigation__header">Members</h4>
          <ul class="menu-list">
            <%= turbo_frame_tag "project_members" do %>
              <%= render partial: "member_row", collection: @members, as: :member, locals: { project: @project } %>
            <% end %>
          </ul>
          <%= turbo_frame_tag "project_member_form" do %>
            <%= render partial: "projects/members/form", locals: { project: @project } %>
          <% end %>
        </nav>
      </div>
    <% end %>

    <div class="menu-container menu-container--header" data-controller="menu" data-action="keyup@window->menu#closeWithKeyboard click@window->menu#closeBackground">
      <%= button_tag type: "button", class: "menu-button", data: { action: "menu#toggleMenu" } do %>
        <span class="material-symbols-outlined">menu</span>
      <% end %>

      <nav class="menu-navigation hidden" data-menu-target="menu">
        <h4 class="menu-navigation__header menu-navigation__username">
          Hello, <%= turbo_frame_tag "header_user_name" do %><%= current_user.user_name %><% end %> !
        </h4>
        <ul class="menu-list">
          <li>
            <%= link_to user_path, class: "menu-list__setting label-with-icon", data: { turbo_stream: true, action: "menu#hideMenu" } do %>
              <span class="material-symbols-outlined">settings</span>
              Setting
            <% end %>
          </li>
          <% if current_user&.can_read?('Admin') %>
            <li>
              <%= link_to admin_root_path, class: "menu-list__admin label-with-icon", data: { action: "menu#hideMenu" } do %>
                <span class="material-symbols-outlined">admin_panel_settings</span>
                Admin
              <% end %>
            </li>
          <% end %>
          <li>
            <%= button_to logout_path, method: :delete, class: "menu-list__logout-btn label-with-icon", data: { turbo_confirm: "Logout?" } do %>
              <span class="material-symbols-outlined">logout</span>
              Logout
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
