<%= turbo_stream_from @project %>

<%= render "header" %>

<div class="container">
  <%= turbo_frame_tag "tasks" do %>
    <%= render partial: "tasks/task", collection: @tasks %>
  <% end %>

  <%= turbo_frame_tag @new_task do %>
    <%= render "tasks/add_task_btn" %>
  <% end %>
</div>
