<%= turbo_frame_tag "modal" do %>
  <%= render "shared/modal", options: { base_class: "show-user", header_title: t("passwords.edit.title") } do %>
    <%= form_with model: current_user, url: password_path, data: { turbo_frame: "modal" } do |form| %>
      <% if current_user.errors.any? %>
        <%= render_errors_for current_user %>
      <% end %>

      <div class="show-user__item">
        <%= form.label :password_challenge %>
        <%= form.password_field :password_challenge, placeholder: t("passwords.edit.current_password"), class: "full-width-input", data: { } %>
      </div>

      <div class="show-user__item">
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: t("passwords.edit.new_password"), class: "full-width-input", data: { } %>
      </div>

      <div class="show-user__item">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, placeholder: t("passwords.edit.confirm_password"), class: "full-width-input", data: { } %>
      </div>

      <div class="form-actions">
        <%= link_to t("passwords.edit.cancel"), user_path, class: "btn", data: { } %>
        <%= form.submit class: "primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>
