<% prefix = "totp.settings.show" %>
<%= turbo_frame_tag "modal" do %>
  <%= render "shared/modal", options: { base_class: "show-user", header_title: t("#{prefix}.title"), scrollable: true } do %>
    <% if current_user.totp_enabled? %>
      <h2><%= t("#{prefix}.replace_title") %></h2>

      <p><%= t("#{prefix}.replace_description") %></p>

      <p><strong><%= t("#{prefix}.replace_warning") %></strong></p>

      <%= button_to t("#{prefix}.replace_button"), totp_setting_path, method: :patch %>
    <% else %>
      <h2><%= t("#{prefix}.upgrade_title") %></h2>

      <h3><%= t("#{prefix}.step1_title") %></h3>
      <p><%= t("#{prefix}.step1_description") %> <strong><%= t("#{prefix}.step1_skip") %></strong></p>
      <p>
        <strong><%= t("#{prefix}.step1_recommend") %></strong>.
        [<%= link_to "iOS", "https://apps.apple.com/jp/app/microsoft-authenticator/id983156458" %>]
        [<%= link_to "Android", "https://play.google.com/store/apps/details?id=com.azure.authenticator" %>]
      </p>

      <h3><%= t("#{prefix}.step2_title") %></h3>
      <p><%= t("#{prefix}.step2_description") %></p>

      <figure>
        <%= image_tag @qr_code.as_png(resize_exactly_to: 200).to_data_url%>
        <figcaption><%= t("#{prefix}.qr_caption") %></figcaption>
      </figure>
      <%= debug_block do %>
        <p><%= @provisioning_uri %></p>
      <% end %>

      <%= form_with(url: totp_setting_path) do |form| %>
        <div>
          <%= form.label :code, t("#{prefix}.code_instruction"), style: "display: block" %>
          <% if @err_message.present? %>
            <ul class="form__error">
              <li><%= @err_message %></li>
            </ul>
          <% end %>
          <%= form.text_field :code, required: true, autocomplete: :off %>
        </div>

        <div class="form-actions">
          <%= link_to t("#{prefix}.cancel"), user_path, class: "btn", data: { } %>
          <%= form.submit class: "primary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
