<%= render "shared/modal", options: { base_class: "show-user", header_title: "Change email" } do %>
  <% unless current_user.verified? %>
    <p class="show-user__item__description">
      Your email is not verified. Please verify your email.
      <%= button_to "Verify your email", email_verifications_path, class: "", data: { } %>
    </p>
    <hr>
  <% end %>
  <%= form_with model: current_user, url: email_path, data: { turbo_frame: "modal" } do |form| %>
    <% if current_user.errors.any? %>
      <%= render_errors_for current_user %>
    <% end %>

    <div class="show-user__item">
      <%= form.label :email %>
      <%= form.text_field :email, placeholder: "New Email", class: "full-width-input", data: { } %>
    </div>

    <div class="show-user__item">
      <%= form.label :password_challenge %>
      <%= form.password_field :password_challenge, placeholder: "Current Password", class: "full-width-input", data: { } %>
    </div>

    <div class="form-actions">
      <%= link_to "Cancel", user_path, class: "btn", data: { } %>
      <%= form.submit "Change email", class: "primary" %>
    </div>
  <% end %>
<% end %>
