<!DOCTYPE html>
<html>
  <head>
    <title>Hobo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>
  </head>

  <body>
    <%= turbo_frame_tag "notification" %>
    <%= turbo_frame_tag "modal" %>
    <%# TODO: Turboでできたらしたい %>
    <%= render partial: "shared/notification", locals: { status: flash.first[0], message: flash.first[1] } if flash.present? %>

    <%= yield %>

    <div id="loader-wrapper"><div id="loader"></div></div>
    <%= hidden_field_tag :uid, current_user&.id %>
  </body>
</html>
